# vim
*.un~
*.swp
*~


# os x
.DS_Store


# python
__pycache__/
*.pyc


# ipython notebook
.ipynb_checkpoints/


# other directories
env
scratch


# frontend
oulipo/frontend/node_modules
oulipo/frontend/oulipo.js
oulipo/frontend/oulipo.prod.js

oulipo/frontend/.sass-cache/
oulipo/frontend/style/main.css
oulipo/frontend/style/main.css.map

# generated data files
script/blacklist.json
script/wordfrequency.info.html

nouns.json
verbs.json

nns.json
vbd.json
vbg.json
vbn.json
vbz.json
