# vim
*.un~
*.swp
*~


# os x
.DS_Store


# python
__pycache__/
*.pyc


# ipython notebook
.ipynb_checkpoints/


# other directories
env
scratch


# frontend
oulipo/frontend/node_modules
oulipo/frontend/oulipo.js
oulipo/frontend/oulipo.min.js

oulipo/frontend/.sass-cache/
oulipo/frontend/style/main.css
oulipo/frontend/style/main.css.map
