/* typographic baseline */
/* ~> https://scotch.io/tutorials/aesthetic-sass-3-typography-and-vertical-rhythm */

$base-font-size: 1rem;
$base-line-height: $base-font-size * 1.25;

$type-scale: (
    -1: 0.75rem,  // small text
    0: 1rem,      // body text
    1: 1.333rem,  // large text
    2: 1.777rem   // main heading
);

@function type-scale($level) {
  @return map-get($type-scale, $level);
}

@mixin type-setting($level: 0) {
    font-size: type-scale($level);
    line-height: line-height($level);
}

/* general */
$width: 500px;

/* colour */
$background: #fefffe;
$subtle-hint: #f5f5f5;

$body: #1a2930;
$sub: desaturate(lighten($body, 65%), 75%);

$link: lighten(#3a7ca5, 25%);

$highlight: #ffe900;
$highlight-noun: #e53d00;
$highlight-verb: #3a7ca5;
$highlight-other: $body;


/* typography */
.page-title {
    @include type-setting(1);
    font-family: "Lato", "Verdana" sans-serif;
}

.options-text {
    @include type-setting(-1);
    color: $sub;
    font-family: "Lato", "Verdana", sans-serif;
    text-transform: uppercase;
}

.poem-title {
    @include type-setting(2);
    font-family: "Lato", "Verdana", sans-serif;
}

body {
    @include type-setting(0);
    font-family: "Lato", "Verdana", sans-serif;
    line-height: 1.5rem;
}

a:link, a:visited {
    color: $link;
    text-decoration: none;
    border-bottom: 1px solid $subtle-hint;
}

a:hover {
    color: lighten($link, 5%);
    border-bottom: none;
}
