@import "reset";
@import "common";


/* structure */
header {
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;
    padding-bottom: 1rem;
    text-align: center;

    #centered-heading {
        display: inline-block;
    }
}

#options {
    width: $width/2;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
    padding-bottom: 2rem;
    text-align: center;

    input[type="range"] {
        width: 100%;
    }
}

#poem-header {
    width: $width;
    margin-top: 1rem;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
}

.option-slider {
    label {
        display: block;
    }
}

#edit {
    width: 100px;
    float: right;
    text-align: right;
}

#poem {
    width: $width;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.token {
    display: inline;
}

#author {
    margin-top: 0.5rem;
    text-align: right;
}

/* styling */
body {
    background-color: $background;
}


.dot {
    color: $subtle-hint;
}

#poem {
    border-bottom: 1px solid $subtle-hint;
}

.noun {
    color: $highlight-noun;
}

.verb {
    color: $highlight-verb;
}

.other {
    color: $highlight-other;
}

.new_line {
    display: block;
}

a:link.edit-button, a:visited.edit-button {
    margin-left: 5px;

    text-decoration: none;
    border-bottom: 1px dotted teal;
}

a:hover.edit-button {
    color: gray;
    border-bottom: none;
}

.edit-panel {
    display: none;
}
