@import "reset";
@import "common";


/* structure */
header {
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;
    padding-bottom: 1rem;
    text-align: center;

    #centered-heading {
        display: inline-block;
    }
}

#options {
    max-width: $width/2;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
    padding-bottom: 2rem;
    text-align: center;

    input[type="range"] {
        width: 100%;
    }
}

#poem-header {
    max-width: $width;
    margin-top: 1rem;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
}

.option-slider {
    label {
        display: block;
    }
}

#poem-header {
    padding-left: 12px;
    padding-right: 12px;
}

#poem-title input {
    padding: 0;
    margin-top: -6px;
    margin-left: -1px;

    border: 1px solid $subtle-hint;
    color: $body;
}

#edit {
    width: $edit-width;
    float: right;
    text-align: right;
}

#poem {
    max-width: $width;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
    padding-bottom: 2rem;

    textarea {
        width: 100%;
        height: 12rem;
    }
}

.token {
    display: inline;
}

#author {
    margin-top: 0.5rem;
    text-align: right;
}

/* styling */
body {
    background-color: $background;
}

.dot {
    color: $sub;
}

.option-slider label {
    display: inline; 
}

output {
    display: inline-block;
    width: 30px;
    height: 1rem;
    line-height: 1rem;
    text-align: center;

    border: 1px solid $subtle-hint;
    border-radius: 4px;
    opacity: 0.75;
}

output.noun {
    background-color: $highlight-noun;
    color: $background;
}

output.verb {
    background-color: $highlight-verb;
    color: $background;
}

#poem {
    overflow: hidden;
    border-bottom: 1px solid $subtle-hint;

    textarea {
        border: 1px solid $subtle-hint;
        margin-top: -9px;
        margin-left: -1px;
        padding: 0;

        color: $body;
        background-color: white;
    }
}

.noun {
    color: $highlight-noun;
}

.verb {
    color: $highlight-verb;
}

.other {
    color: $highlight-other;
}

.new_line:after {
    content: "\a";
    white-space: pre;
}

a:link.edit-button, a:visited.edit-button {
    margin-left: 5px;

    text-decoration: none;
    border-bottom: 1px dotted teal;
}

a:hover.edit-button {
    color: gray;
    border-bottom: none;
}

.edit-panel {
    display: none;
}
