#token-list li {
    font-size: 24px;
}

.noun {
    color: red;
    font-weight: bold;
}

.verb {
    color: blue;
    font-weight: bold;
}

.other {
    color: gray;
}

a:link.edit-button, a:visited.edit-button {
    margin-left: 5px;

    color: teal;
    font-size: 12px;
    text-decoration: none;
    border-bottom: 1px dotted teal;
}

a:hover.edit-button {
    color: gray;
    border-bottom: none;
}

.edit-panel {
    display: none;
}
